.container {
  display: flex;
  height: calc(100vh - 50vh);
  background-color: #000;
  overflow: hidden;
}

.arrowLContainer {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  left: 0;
  cursor: pointer;
}

.arrowRContainer {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  cursor: pointer;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}
